<div class="component-div">
  <div class="top-div mat-elevation-z8">
    <app-search (searchEvent)="getSearchValue($event)"></app-search>
    <span>Select all</span>
    <input
      type="checkbox"
      value="all"
      [(ngModel)]="checkAllStatus"
      (change)="checkChange($event)"
    />
    <!-- <button (click)="deleteSelect()">DELETE</button> -->
  </div>
  <div>
    <div class="bottom-div mat-elevation-z8">
      <table>
        <tr class="heading-tr">
          <th>Name</th>
          <th>Contact Number</th>
          <th>select</th>
        </tr>
        <div *ngFor="let contact of contactList">
          <div
            *ngIf="
              searchTerm === '' ||
              contact.firstname
                .toLowerCase()
                .includes(searchTerm.toLowerCase()) ||
              contact.lastname.toLowerCase().includes(searchTerm.toLowerCase())
            "
          >
            <tr class="content-tr">
              <th routerLink="/contact-details/{{ contact.id }}">
                {{ contact.firstname + " " + contact.lastname }}
              </th>
              <th>{{ contact.phone }}</th>
              <th>
                <input
                  type="checkbox"
                  value="{{ contact.id }}"
                  [checked]="contact.select"
                  (change)="checkChange($event)"
                />
              </th>
            </tr>
          </div>
        </div>
      </table>
    </div>
  </div>
</div>
