<div class="component-div">
  <div class="top-div mat-elevation-z8">
    <app-search (searchEvent)="getSearchValue($event)"></app-search>
    <span>Select all</span>
    <input
      type="checkbox"
      value="all"
      [(ngModel)]="checkAllStatus"
      (change)="checkChange($event)"
    />
  </div>
  <div class="bottom-div mat-elevation-z8">
    <div class="contact-container-div">
      <div *ngIf="!(contactList.length > 0)" class="no-contacts-div">
        <p>There is no contacts in list</p>
      </div>
      <div *ngFor="let contact of contactList">
        <div
          *ngIf="
            searchTerm === '' ||
            contact.firstname
              .toLowerCase()
              .includes(searchTerm.toLowerCase()) ||
            contact.lastname.toLowerCase().includes(searchTerm.toLowerCase())
          "
        >
          <div class="contact-sub-div">
            <div>
              <p
                routerLink="/contact-details/{{ contact.id }}"
                class="name-header-p"
              >
                {{ contact.firstname + " " + contact.lastname }}
              </p>
              <p
                class="phone-header-p"
                routerLink="/contact-details/{{ contact.id }}"
              >
                {{ contact.phone }}
              </p>
            </div>
            <input
              type="checkbox"
              value="{{ contact.id }}"
              [checked]="contact.select"
              (change)="checkChange($event)"
            />
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <button
      class="delete-button"
      (click)="deleteSelect()"
      *ngIf="checkArray.length > 0"
    >
      <mat-icon color="red">delete</mat-icon>
      <p>Delete</p>
    </button>
  </div>
</div>
