.component-div {
  //background-color: aqua;
  position: relative;
  height: 100%;
}

.top-div {
  display: flex;
  flex-direction: row;
  // width: 45vw;
  // margin: auto;
  height: max-content;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  padding: 0.4rem 1rem;
  input {
    border: 2px solid #ccc;
    transform: scale(1.2);
    margin-bottom: 8px;
  }
  span {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-right: 0.4rem;
  }
}

.bottom-div {
  height: 74vh;
  width: 45vw;
  background-color: rgb(255, 255, 255);
  margin: auto;
  p {
    padding: 0%;
    margin: 0%;
  }
  margin-bottom: 20px;
}

.heading-tr {
  display: flex;
  font-size: 24px;
  width: 100%;
  background-color: burlywood;
  height: 6%;
  align-items: center;
  position: relative;
}

.name-header-p {
  position: relative;
  left: 10px;
}

.phone-header-p {
  position: absolute;
  left: 22vw;
}

.contact-container-div {
  width: 100%;
  // background-color: rgb(238, 200, 48);
  height: 92.5%;
  //padding-top: 10px;
  position: relative;
  overflow: scroll;
}

.no-contacts-div {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

.contact-sub-div {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(11, 92, 92);
  margin-bottom: 20px;
  background-color: #ffffff;
  height: max-content;
  display: flex;
  align-items: center;
  p {
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: capitalize;
  }
  input {
    position: absolute;
    right: 4vw;
    transform: scale(1.2);
  }
}

.contact-sub-div:hover {
  background-color: rgb(0 0 0 / 0.1);
  padding: 3px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  // border: 0.1px solid rgb(0 0 0 / 0.4);
}

.delete-container {
  width: 45vw;
  background-color: rgba(255, 255, 255, 0.815);
  margin: auto;
  padding: 10px 0;
}

.delete-button {
  display: flex;
  background-color: rgba(0, 0, 0, 0.815);
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  margin: auto;
  mat-icon {
    transform: scale(1.5);
    color: red;
  }
  p {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    margin: 0%;
    padding-left: 10px;
  }
}
