<div class="details-page-div">
  <div class="details-container mat-elevation-z8">
    <div class="contact-image-div">
      <div class="contact-image">
        {{
          contact.firstname[0].toUpperCase() + contact.lastname[0].toUpperCase()
        }}
      </div>
    </div>
    <div class="subdetails-container">
      <div>
        <p>{{ "Name:" }}</p>
        <h3>{{ contact.firstname + " " + contact.lastname }}</h3>
      </div>
      <div>
        <p>{{ "Phone:" }}</p>
        <h3>{{ contact.phone }}</h3>
      </div>
      <div *ngIf="contact.email">
        <p>{{ "Email:" }}</p>
        <h4>{{ contact.email.toLowerCase() }}</h4>
      </div>
    </div>
    <button class="delete-button" (click)="deleteSelected(contact.id)">
      <mat-icon>delete</mat-icon>
      <p>Delete</p>
    </button>
  </div>
</div>
