mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(147, 147, 243);
  color: rgb(255, 255, 255);
}

.menu-icon {
  transform: scale(1.5);
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 12.5rem;
  background: #ffffff;
  color: rgb(85, 66, 66);
  margin-right: 1rem;
  border-radius: 10px;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  margin-top: 2px;
  mat-icon {
    margin-right: 1rem;
    color: rgb(45, 74, 241);
  }
}

h1 {
  font-size: 1.8rem;
}
