<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <h1>My Contacts</h1>
  <div></div>
</mat-toolbar>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav mode="over" class="mat-elevation-z8" opened>
    <button
      mat-button
      class="menu-button"
      routerLink="/contacts"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon> contact_phone</mat-icon>
      <span>Contacts</span>
    </button>
    <button
      mat-button
      class="menu-button"
      routerLink="/add"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>add_circle</mat-icon>
      <span>Add Contact</span>
    </button>
    <button
      mat-button
      class="menu-button"
      routerLink="/groups"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>group</mat-icon>
      <span>Groups</span>
    </button>
    <button
      mat-button
      class="menu-button"
      routerLink="/add-group"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>group_add</mat-icon>
      <span>Add Group</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
