.display-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.contacts-container {
  position: relative;
  overflow: hidden;
  // z-index: 100;
  height: 100%;
  // border-right: 10px solid #f0f2f500;
  width: 27%;
  background-color: rgba(255, 255, 255, 0.918);
}

.contacts-details {
  width: 73%;
  height: 100%;
  background-color: rgba(255, 225, 187, 0.829);
  background-image: url("../../../assets/background-img.jpeg");
  background-size: cover;
}

.header-div {
  background-color: #f0f2f5;
  width: 97.3%;
  height: 38px;
  padding: 10px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid rgba(168, 168, 168, 0.548);
  // z-index: 1000;
}
.delete-icon {
  mat-icon {
    transform: scale(1.3);
    color: red;
    margin: 5px;
  }
  font-size: 18px;
}

.menu-icon {
  color: #54656f;
  transform: scale(1.2);
  padding-right: 100px;
}

.profile-image-div {
  // height: 40px;
  // width: 40px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  h3 {
    padding-left: 10px;
    font-size: 24px;
    margin: 0;
  }
}
.details-page-div {
  position: relative;
  height: 100%;
}

.details-container {
  //height: fit-content;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 58px;
  padding: 1.3rem 1rem;
  height: 80%;
  position: relative;
}

.contact-image-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  img {
    width: 250px;
    height: 250px;
  }
}

.contact-image {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  font-family: fantasy;
}

.delete-button {
  display: flex;
  background-color: rgba(0, 0, 0, 0.739);
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  margin: auto;
  mat-icon {
    transform: scale(1.3);
    color: red;
  }
  p {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    margin: 0%;
    padding-left: 10px;
  }
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.subdetails-container {
  // background-color: antiquewhite;
  padding-left: 16px;
  padding-top: 16px;
  p {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.5rem;
    color: rgba(214, 47, 47, 0.739);
    margin-bottom: 1.5rem;
    text-transform: capitalize;
  }
  h4 {
    font-size: 1.5rem;
    color: rgba(214, 47, 47, 0.739);
    margin-bottom: 1.5rem;
    text-transform: lowercase;
  }
}

.group-name-div {
  width: 100%;
  display: flex;
  justify-content: center;
  h1 {
    font-size: 40px;
  }
}

.no-contacts-div {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

.contact-container {
  background-color: rgba(239, 248, 158, 0.541);
  width: 80%;
  height: fit-content;
  margin-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mat-icon {
    color: red;
    padding-right: 10px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0px 0px 10px;
  }
}
.contact-container:hover {
  background-color: rgba(224, 245, 35, 0.541);
  padding: 3px;
}

.name-text {
  font-size: 1.3rem;
  padding: 0.5rem 0 0 0.5rem;
}
.phone-text {
  font-size: 1.1rem;
  padding: 0rem 0 0 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.scroll-members {
  width: 100%;
  height: 350px;
  overflow: scroll;
}
