<div class="display-div">
  <div class="contacts-container">
    <app-list></app-list>
  </div>
  <div class="contacts-details">
    <div class="header-div">
      <div class="profile-image-div">
        <img src="{{ group.image }}" />
        <h3>{{ group.name }}</h3>
      </div>
      <div>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="menu button"
        >
          <mat-icon class="menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button
            mat-menu-item
            (click)="onDelete(group.id)"
            class="delete-icon"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="details-page-div">
      <div class="details-container mat-elevation-z8">
        <h3>{{ group.date | date: "medium" }}</h3>
        <div class="contact-image-div">
          <img src="{{ group.image }}" />
        </div>
        <div class="subdetails-container">
          <div class="group-name-div">
            <h1>{{ group.name }}</h1>
          </div>
          <div>
            <p>{{ "Members:" }}</p>
            <div class="scroll-members">
              <div
                class="contact-container"
                *ngFor="let contact of membertList"
              >
                <div routerLink="/contact-details/{{ contact.id }}">
                  <img src="{{ contact.image }}" />
                  <p class="name-text">
                    {{ contact.firstname + " " + contact.lastname }}
                  </p>
                </div>
                <div (click)="removeSelected(contact.id)">
                  <mat-icon>delete_forever</mat-icon>
                </div>
              </div>
              <div *ngIf="!(membertList.length > 0)" class="no-contacts-div">
                <p>There is no contacts in group</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
