input[type="text"] {
  width: 20rem;
  height: 1.6rem;
  //box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  // background-position: 10px 10px;
  padding-left: 10px;
  // margin-right: 5rem;
}

p {
  font-size: 1rem;
  margin-top: 10px;
  margin-right: 0.4rem;
}

.search-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
