.add-contacts-page {
  position: relative;
  height: 100%;
}
h2 {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

.display-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.contacts-container {
  position: relative;
  overflow: hidden;
  // z-index: 100;
  height: 100%;
  // border-right: 10px solid #f0f2f500;
  width: 27%;
  background-color: rgba(255, 255, 255, 0.918);
}

.contacts-details {
  width: 73%;
  height: 100%;
  background-color: rgba(255, 225, 187, 0.829);
  background-image: url("../../../assets/background-img.jpeg");
  background-size: cover;
}

.image-div {
  margin: 0px 30px 10px 0px;
  display: flex;
  flex-direction: column;
  input {
    display: none;
  }
}

img {
  width: 130px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

.add-contacts-div {
  height: fit-content;
  width: 30vw;
  background-color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 58px;
  padding: 2rem 1rem;
  display: flex;
}

input[type="text"],
[type="email"] {
  width: 375px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  //margin-bottom: 20px;
  font-size: 1rem;
}

label {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.794);
}

input[type="submit"] {
  width: 375px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4rem;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input.ng-invalid.ng-touched {
  border: red 2px solid;
}
small {
  color: red;
}

.header-div {
  background-color: #f0f2f5;
  width: 97.3%;
  height: 38px;
  padding: 10px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(168, 168, 168, 0.548);
  // z-index: 1000;
  mat-icon {
    transform: scale(1.2);
  }
}
