<div class="display-div">
  <div class="contacts-container">
    <app-list></app-list>
  </div>
  <div class="contacts-details">
    <div class="header-div">
      <h2>ADD TO CONTACTS</h2>
    </div>
    <div class="add-contacts-page">
      <div class="add-contacts-div mat-elevation-z8">
        <div class="image-div">
          <img [src]="imgUrl" />
          <input type="file" (change)="onSelectFile($event)" />
        </div>

        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div>
            <label for="first">First Name</label>
            <br />
            <input
              type="text"
              id="first"
              placeholder="Your name"
              name="firstname"
              #firstTemp="ngModel"
              ngModel
              required
            />
            <br />
            <small *ngIf="firstTemp.invalid && firstTemp.touched"
              >First Name is required field.</small
            >
          </div>
          <br />
          <div>
            <label for="last">Last Name</label>
            <br />
            <input
              type="text"
              id="last"
              placeholder="Your Last name"
              name="lastname"
              #lastTemp="ngModel"
              ngModel
              required
            />
            <br />
            <small *ngIf="lastTemp.invalid && lastTemp.touched"
              >Last Name is required field.</small
            >
          </div>
          <br />
          <div>
            <label for="phone">Phone Number</label>
            <br />
            <input
              type="text"
              id="phone"
              placeholder="Your Phone Number"
              name="phone"
              #phoneTemp="ngModel"
              ngModel
              required
              pattern="^[0-9]*$"
              minlength="10"
              maxlength="10"
            />
            <br />
            <small
              *ngIf="
                phoneTemp.invalid &&
                phoneTemp.touched &&
                phoneTemp.errors['required']
              "
              >Phone number is required field.</small
            >
            <small
              *ngIf="
                phoneTemp.invalid &&
                phoneTemp.touched &&
                (phoneTemp.errors['minlength'] ||
                  phoneTemp.errors['maxlength'] ||
                  phoneTemp.errors['pattern'])
              "
              >Enter valid Phone number.</small
            >
          </div>
          <br />
          <!-- </div> -->
          <div>
            <label for="mail">Email</label>
            <br />
            <input
              type="email"
              id="mail"
              placeholder="Your Email"
              name="email"
              #emailTemp="ngModel"
              ngModel
              email
            />
            <br />
            <small *ngIf="emailTemp.invalid">Enter valid email.</small>
          </div>
          <br />
          <div></div>
          <small
            *ngIf="
              contactForm.invalid &&
              contactForm.touched &&
              contactForm.submitted
            "
            >Enter required fields.</small
          >
          <input type="submit" value="Submit" id="btn" />
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
